service usb_dongle /vendor/bin/usb_dongle
    class main
    oneshot

on property:sys.wifi_hal_legacy=stop
    stop vendor.wifi_hal_legacy

on property:sys.wifi_hal_legacy=start
    start vendor.wifi_hal_legacy
